<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="modal">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Register</h4>
          <button
            routerLink="/login"
            type="button"
            class="btn-close close pull-right"
            id="close"
            aria-label="Close"
          >
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- * Alert -->
          <div
            *ngIf="emptyFieldAlert"
            class="alert alert-danger animation-alert"
            role="alert"
            data-name="All Fields Must be Completed"
          ></div>
          <div
            *ngIf="emailAlert"
            class="alert alert-danger animation-alert"
            role="alert"
            data-name="Invalid Email Address"
          ></div>

          <form
            #f="ngForm"
            (ngSubmit)="onSubmit(f.value)"
            class="modal-body__register-form"
          >
            <div class="register-form__field">
              <label class="field__label">Name</label>
              <input
                oninput="this.value = this.value.replace(/[^A-Z a-z]/, '')"
                [(ngModel)]="inputName"
                class="field__input"
                type="text"
                autocomplete="off"
                required
                name="name"
                ngModel
                #name="ngModel"
                (change)="getValue(name)"
              />
            </div>
            <div class="register-form__field">
              <label class="field__label">Email address</label>
              <input
                [(ngModel)]="inputEmail"
                class="field__input"
                type="email"
                autocomplete="off"
                required
                name="email"
                ngModel
                #email="ngModel"
                (change)="getValue(email); verifEmail(inputEmail)"
              />
            </div>
            <div class="register-form__field">
              <label class="field__label">Password</label>
              <input
                [type]="pswType ? 'normal' : 'password'"
                (keydown.space)="$event.preventDefault()"
                (keyup)="verifPswRules()"
                (focusout)="quitPswRules()"
                (focus)="showPswRules()"
                [(ngModel)]="inputPassword"
                class="field__input"
                type="password"
                autocomplete="off"
                required
                name="password"
                ngModel
                #password="ngModel"
                (change)="getValue(password)"
              />
              <button (click)="tooglePsw()" class="field__btn" type="button">
                {{ pswText }}
              </button>
            </div>

            <!-- * Password Rules Succesfully Typed Alert -->

            <div *ngIf="!isPswRules && pswVerified" class="alert-container">
              <div class="alert alert-success alert-custom" role="alert">
                <span class="alert-custom__text">Well done!</span>
                You Succesfully Typed a Valid Password
              </div>
            </div>

            <!-- * Password Rules Popover -->

            <div *ngIf="isPswRules" class="password-rules">
              <div class="rules__container">
                <div
                  *ngIf="!isUppercase"
                  class="spinner-border text-secondary spinner-custom"
                ></div>
                <fa-icon
                  *ngIf="isUppercase"
                  [icon]="faCheck"
                  class="faCheck"
                ></fa-icon>
                <p class="container__text">
                  Require at least one uppercase letter
                </p>
              </div>
              <div class="rules__container">
                <div
                  *ngIf="!isLowercase"
                  class="spinner-border text-secondary spinner-custom"
                ></div>
                <fa-icon
                  *ngIf="isLowercase"
                  [icon]="faCheck"
                  class="faCheck"
                ></fa-icon>
                <p class="container__text">
                  Require at least one lowercase letter
                </p>
              </div>
              <div class="rules__container">
                <div
                  *ngIf="!isNumber"
                  class="spinner-border text-secondary spinner-custom"
                ></div>
                <fa-icon
                  *ngIf="isNumber"
                  [icon]="faCheck"
                  class="faCheck"
                ></fa-icon>
                <p class="container__text">Require at least one number</p>
              </div>
              <div class="rules__container">
                <div
                  *ngIf="!isSpecialCharacter"
                  class="spinner-border text-secondary spinner-custom"
                ></div>
                <fa-icon
                  *ngIf="isSpecialCharacter"
                  [icon]="faCheck"
                  class="faCheck"
                ></fa-icon>
                <p class="container__text">
                  Require at least one special character
                </p>
              </div>
              <div class="rules__container">
                <div
                  *ngIf="!isMinimumLength"
                  class="spinner-border text-secondary spinner-custom"
                ></div>
                <fa-icon
                  *ngIf="isMinimumLength"
                  [icon]="faCheck"
                  class="faCheck"
                ></fa-icon>
                <p class="container__text">Minimum password length 6</p>
              </div>
            </div>

            <div class="register-form__field">
              <label class="field__label">Confirm Password</label>
              <input
                [type]="confirmPswType ? 'normal' : 'password'"
                (focusout)="handleIsPasswordsEquals()"
                (keydown.space)="$event.preventDefault()"
                [(ngModel)]="inputConfirmPassword"
                class="field__input"
                type="password"
                autocomplete="off"
                required
                name="confirmPassword"
                ngModel
                #confirmPassword="ngModel"
                (change)="getValue(confirmPassword)"
              />
              <button
                (click)="toogleConfirmPsw()"
                class="field__btn"
                type="button"
              >
                {{ confirmPswText }}
              </button>
            </div>

            <div
              *ngIf="isPasswordsEquals"
              class="alert alert-danger alert-danger-custom"
              role="alert"
            >
              <span class="alert-danger-custom__text">Error!</span>
              Passwords do NOT match
            </div>

            <a routerLink="/login" class="register-form__link">
              Already Registered?
            </a>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Creating an account means you’re okay with our Terms of Service,
                Privacy Policy, and our default Notification Settings.
              </label>
            </div>

            <button
              [disabled]="disableSubmit"
              type="submit"
              class="btn btn-primary register-form__submit"
            >
              Register now
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="bg-image"></div>
    </div>
  </div>
</div>
