@import "../../../../../colors.scss";
@import "../../../../../fonts.scss";
@import "../../../../../properties.scss";

* {
  background-color: $bgColorDashboard;
  color: #fff;
  font-family: $nunito;
}

.col {
  .modal {
    display: grid;
    padding: 50px 20px;
    max-width: 50%;
    min-height: 100vh;
    color: #000;
    // padding-right: 0;

    box-shadow: 0 0 20px $btnLogin;

    .modal-header {
      background-color: $bgColorLoginModal;
      padding: 16px 32px;

      .modal-title {
        background-color: $bgColorLoginModal;
        color: $modalText;
        font-weight: bold;
        letter-spacing: 0.5px;
      }

      .btn-close {
        background-color: $modalBgButton;
      }

      #close {
        border: 1px solid $btnLogin;
        box-shadow: 0 0 20px $btnLogin;
      }
    }

    .modal-body {
      background-color: $bgColorLoginModal;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      padding: 32px 64px;

      // * Alerts
      .animation-alert {
        animation-duration: 500ms;
        animation-name: animationAlert;
        overflow: hidden;
        height: 40px;
        width: 100%;
        padding: 8px;
        margin: 0 auto;
        text-align: center;
        transition-delay: 1000ms;
        margin-bottom: 5px;
      }
      .animation-alert::before {
        content: attr(data-name);
        animation-fill-mode: backwards;
        transition: opacity 1s;
        animation: fadeIn 3s;
      }

      @keyframes animationAlert {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .modal-body__register-form {
        background-color: $bgColorLoginModal;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 15px;

        .register-form__field {
          background-color: $bgColorLoginModal;
          display: grid;
          margin-bottom: 20px;
          color: $modalText;

          .field__label {
            background-color: $bgColorLoginModal;
            color: $modalText;
            font-weight: bold;
            letter-spacing: 0.5px;
          }

          .field__input {
            background-color: $inputBgModal;
            border-radius: $borderRadiusModal;
            height: 3rem;
            padding: 0 10px;
            width: 100%;
            font-family: $nunito;
            letter-spacing: 0.5px;

            &.input-psw {
              padding: 0 70px 0 10px;
            }

            &.input-confirmPsw {
              padding: 0 70px 0 10px;
            }

            &.disable-password {
              background-color: $disabledInputBgModal;
            }
          }

          .field__btn {
            position: absolute;
            right: 0;
            margin-right: 75px;
            margin-top: 37.5px;
            color: $modalText;
            letter-spacing: 0.5px;
          }
        }

        .alert-container {
          background-color: $bgColorLoginModal;

          .alert-custom {
            border-radius: $borderRadius;
            margin: 0;
            margin-top: -10px;
            margin-bottom: 5px;

            .alert-custom__text {
              background-color: $bgAlertPsw;
              color: green;
              font-weight: bold;
            }
          }
        }

        .password-rules {
          display: grid;
          place-content: center;
          margin: 0 auto;
          margin-bottom: 15px;
          padding: 15px;
          border-radius: $borderRadius;
          background-color: $bgColorLoginModal;

          border: 1px solid $btnLogin;
          box-shadow: 0 0 3px $btnLogin;
          outline-offset: 0px;
          outline: none;

          .rules__container {
            padding: 5px;
            display: flex;
            flex-direction: row;
            place-items: center;
            background-color: $bgColorLoginModal;

            .spinner-border {
              width: 15px;
              height: 15px;

              &.spinner-custom {
                background-color: $bgColorLoginModal;
                color: $modalText;
                margin-right: 5px;
                font-size: 12px;
              }
            }
            .faCheck {
              background-color: $bgColorLoginModal;
              color: $btnLogin;
              margin-right: 5px;
              font-size: 1rem;
            }
            .container__text {
              margin: 0;
              background-color: $bgColorLoginModal;
              color: $modalText;
              font-weight: bold;
              letter-spacing: 0.5px;
            }
          }
        }

        .alert-danger-custom {
          margin-top: -10px;

          .alert-danger-custom__text {
            background-color: $bgAlertDanger;
            color: rgb(142, 0, 0);
            font-weight: bold;
          }
        }

        .register-form__link {
          background-color: $bgColorLoginModal;
          color: $modalText;
          font-size: 14px;
          margin-bottom: 15px;
          cursor: pointer;
          width: fit-content;
        }

        .form-check {
          background-color: $bgColorLoginModal;
          margin-bottom: 15px;

          .form-check-input {
            border: 1px dotted $btnLogin;
            box-shadow: 0 0 3px $btnLogin;
            outline-offset: 0px;
            outline: none;
          }

          .form-check-input[type="checkbox"]:checked {
            background-color: $btnLogin;
          }

          .form-check-label {
            background-color: $bgColorLoginModal;
            color: $modalText;
          }
        }

        .btn {
          &.register-form__submit {
            color: #000;
            background-color: $btnLogin;
            text-align: center;
            max-width: fit-content;
            padding: 10px 15px;
            border-radius: $borderRadius;
            border: none;

            &.retype-psw-btn {
              padding: 5px 10px;
              position: absolute;
              right: 0;
              margin-right: 64px;
              margin-top: -15px;
              color: $modalText;
              letter-spacing: 0.5px;
              box-shadow: 0 0 3px $btnLogin;
            }
          }
          &.btn-primary:hover {
            background-color: $btnLoginHover;
          }
        }
      }
    }
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .modal::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .modal {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bg-image {
    background-image: url("../../../../../assets/register/4.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: right -20%;
  }
}

@media only screen and (max-width: 1024px) {
  .bg-image {
    display: none;
  }

  .col {
    .modal {
      max-width: 100%;
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .spinner-border {
    display: none;
  }

  #retype-psw-btn-responsive {
    position: static;
    margin-top: 20px;
  }
}
