<app-header></app-header>
<app-section
  (searchedHairsalonsByProgramEvent)="searchedHairsalonsByProgram($event)"
  (searchedByLocationTouchedEvent)="searchedByLocationTouched($event)"
  (searchedHairsalonsByLocationEvent)="searchedHairsalonsByLocation($event)"
  (searchedByNameTouchedEvent)="searchedByNameTouched($event)"
  (searchedHairsalonsEvent)="searchedHairsalons($event)"
  (msgToSibling)="fwdMsgToSib2($event)"
  (msgToMainEvent)="fwdMsgToMain2($event)"
></app-section>
<app-main
  [hairsalonsByProgram]="hairsalonsByProgram"
  [isSearchedByLocationTouched]="isSearchedByLocationTouched"
  [hairsalonsByLocation]="hairsalonsByLocation"
  [isSearchedByNameTouched]="isSearchedByNameTouched"
  [hairsalons]="hairsalons"
  [isHideMap]="isHideMap"
  [showMap]="showMap"
></app-main>
<app-footer></app-footer>
