<div class="details">
  <div class="details__day">
    <div class="day__container">
      <div
        [ngClass]="program.monday === 'Closed' ? 'gray' : ''"
        class="container__circle"
      ></div>
      <div class="container__day">Monday</div>
    </div>
    <div class="day__date">
      {{ program.monday }}
    </div>
  </div>
  <div class="details__day">
    <div class="day__container">
      <div
        [ngClass]="program.tuesday === 'Closed' ? 'gray' : ''"
        class="container__circle"
      ></div>
      <div class="container__day">Tuesday</div>
    </div>
    <div class="day__date">
      {{ program.tuesday }}
    </div>
  </div>
  <div class="details__day">
    <div class="day__container">
      <div
        [ngClass]="program.wednesday === 'Closed' ? 'gray' : ''"
        class="container__circle"
      ></div>
      <div class="container__day">Wednesday</div>
    </div>
    <div class="day__date">
      {{ program.wednesday }}
    </div>
  </div>
  <div class="details__day">
    <div class="day__container">
      <div
        [ngClass]="program.thursday === 'Closed' ? 'gray' : ''"
        class="container__circle"
      ></div>
      <div class="container__day">Thursday</div>
    </div>
    <div class="day__date">
      {{ program.thursday }}
    </div>
  </div>
  <div class="details__day">
    <div class="day__container">
      <div
        [ngClass]="program.friday === 'Closed' ? 'gray' : ''"
        class="container__circle"
      ></div>
      <div class="container__day">Friday</div>
    </div>
    <div class="day__date">
      {{ program.friday }}
    </div>
  </div>
  <div class="details__day">
    <div class="day__container">
      <div
        [ngClass]="program.saturday === 'Closed' ? 'gray' : ''"
        class="container__circle"
      ></div>
      <div class="container__day">Saturday</div>
    </div>
    <div class="day__date">
      {{ program.saturday }}
    </div>
  </div>
  <div class="details__day">
    <div class="day__container">
      <div
        [ngClass]="program.sunday === 'Closed' ? 'gray' : ''"
        class="container__circle"
      ></div>
      <div class="container__day">Sunday</div>
    </div>
    <div class="day__date">{{ program.sunday }}</div>
  </div>
</div>
