<svg
  style="opacity: 0.3"
  class="sc-caee730a-0 hKCEqH sc-30c640e7-0 eVrzLQ background"
>
  <filter id="noise">
    <feTurbulence
      type="fractalNoise"
      baseFrequency=".80"
      numOctaves="3"
      stitchTiles="stitch"
    ></feTurbulence>
  </filter>
  <rect width="100%" height="100%" filter="url(#noise)"></rect>
</svg>

<p class="profile">Profile Work!</p>

<div class="user" *ngIf="user">
  <h2>{{ user._id }}</h2>
  <div>Name: {{ user.name }}</div>
  <div>Email: {{ user.email }}</div>
</div>

<button
  class="log-out"
  type="button"
  mat-raised-button
  (click)="onLogoutClicked()"
>
  Log out
</button>
