// ! Application Colors
$selection: #96ec96;

// ! NGX Bootstrap Colors
$starRating: #ffb500;

// ! Dashboard Colors
$bgColorDashboard: #181818;
$blurDashboard: #159c59;
$btnDashboard: #00ce79;
$hoverDashboard: #383838;
$shadowDashboard: 0 1px 3px 0 rgb(0 0 0 / 15%), 0 0 1px 0 rgb(0 0 0 / 40%);
$boxShadowDashboard: rgb(0 0 0 / 24%) 0px 3px 8px;
$lineDashboard: #494949;
$cardDashboard: #1d1d1d;
$biSearch: #4d4d4d;
$footerBgColor: #212121;
$footerCreator: #869194;

// ! Login Colors
$bgColorLoginHeader: #2c2c2c;
$btnLogin: #00e472;
$btnLoginHover: #02d26a;
$bgColorLoginModal: #ededed;
$modalText: #343434;
$modalBgButton: #cccccc;
$inputBgModal: #d9d9d9;

// ! Register Colors
