// * Properties
$borderRadius: 5.25px;

// * Imports
/* Importing TailWind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

// * NGX Bootstrap Override Class
.bs-rating-star {
  color: #ffb500;
  font-size: 1.5vw;
}

// .svg-inline--fa.fa-greater-than {
//     font-size: large;
// }
