@import "./colors.scss";

// * Properties
$borderRadius: 5.25px;
$borderRadiusModal: 2.75px;

// * Imports
/* Importing TailWind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

// * NGX Bootstrap Override Class
.bs-rating-star {
  color: #ffb500;
  font-size: 1.5vw;
}

input:focus {
  border: 1px solid $btnLogin;
  box-shadow: 0 0 3px $btnLogin;
  outline-offset: 0px;
  outline: none;
}
