<div
  *ngFor="let hairsalon of hairsalons; let index = index"
  class="hair-salon"
  [ngClass]="isHideMap === false ? 'hair-salon' : 'hair-salon-custom'"
>
  <div class="hair-salon__header">
    <div class="header__slides-container">
      <app-image-slider [slides]="hairsalon.slides"></app-image-slider>
    </div>

    <div class="header__content">
      <h5 class="content__header">{{ hairsalon.name }}</h5>
      <div class="content__container">
        <app-rating-slider [rating]="hairsalon.rating"></app-rating-slider>
        <div class="container__reviews">{{ hairsalon.reviews }} reviews</div>
      </div>
      <div class="content__container">
        <div class="container__location">
          {{ hairsalon.location }}
        </div>
        <button
          (click)="onShowOnMapClicked(index)"
          type="button"
          class="container__show-on-map"
        >
          <fa-icon [icon]="faMapLocationDot"></fa-icon> Show on map
        </button>
      </div>
    </div>
  </div>

  <div class="hair-salon__line"></div>

  <div class="hair-salon__details">
    <span class="details__text">{{ hairsalon.details.text }}</span>
    <fa-icon
      (click)="showDetails(index)"
      [ngClass]="
        hairsalon.details.isDetails ? 'iconDetailsTop' : 'iconDetailsBottom'
      "
      [icon]="faGreaterThan"
    ></fa-icon>
  </div>

  <app-details
    [program]="hairsalon.program"
    *ngIf="hairsalon.details.isDetails"
  ></app-details>
</div>
