<div class="container-fluid">
  <ul class="nav section">
    <div class="section__container">
      <button
        *ngIf="!isWhatWhereWhen"
        (click)="onSearchCliked()"
        type="button"
        class="search-btn"
      >
        <fa-icon [icon]="faMagnifyingGlass" class="search-glass"></fa-icon>
        <div>
          <p class="search-btn__header">Hairdressers and Hair Salons</p>
          <div class="search-btn__footer">
            <p class="footer__text">in Romania</p>
            <fa-icon [icon]="faCircle" class="fa-circle"></fa-icon>
            <p class="footer__text">Any Date</p>
          </div>
        </div>
      </button>

      <div *ngIf="isWhatWhereWhen">
        <div [@inputsAnimation] class="what-where-when">
          <div class="www__container">
            <fa-icon
              [ngClass]="disableSearchName ? 'fa-disabled' : ''"
              [icon]="faMagnifyingGlass"
              class="container__search-glass"
            ></fa-icon>
            <input
              (focusout)="onFocusoutName()"
              (focus)="onFocusName()"
              [disabled]="disableSearchName"
              class="container__input"
              (change)="onSearchingName(searchName)"
              [(ngModel)]="searchName"
              type="text"
              placeholder="Search for Salon Name"
            />
          </div>
          <div class="www__container">
            <fa-icon
              [ngClass]="disableSearchLocation ? 'fa-disabled' : ''"
              [icon]="faLocationDot"
              class="container__search-glass"
            ></fa-icon>
            <input
              (focusout)="onFocusoutLocation()"
              (focus)="onFocusLocation()"
              [disabled]="disableSearchLocation"
              class="container__input"
              (change)="onSearchingLocation(searchLocation)"
              [(ngModel)]="searchLocation"
              type="text"
              placeholder="Search for Salon Location"
            />
          </div>
          <div class="www__container">
            <fa-icon
              [ngClass]="disableSearchCalendar ? 'fa-disabled' : ''"
              [icon]="faCalendarDay"
              class="container__search-glass"
            ></fa-icon>

            <input
              readonly
              [value]="chooseProgramDay"
              (click)="onChooseProgramClicked()"
              (focus)="onFocusCalendar()"
              [disabled]="disableSearchCalendar"
              class="container__input"
              [(ngModel)]="chooseProgramDay"
              type="text"
              placeholder="Search for Salon Program"
            />

            <fa-icon
              (click)="handleRestartField()"
              *ngIf="isProgram"
              class="container__faXmarkIcon"
              [icon]="faXmarkIcon"
            ></fa-icon>

            <div *ngIf="isProgram" class="choose-program-container">
              <div class="choose-program">
                <fa-icon class="program__icon" [icon]="faCalendarDay"></fa-icon>
                <h6 class="program__title">Choose Date</h6>
                <fa-icon
                  (click)="onFocusoutCalendar()"
                  class="program__exit"
                  [icon]="faXmarkIcon"
                ></fa-icon>
              </div>

              <div class="row choose-date-row">
                <div class="col container__col top">
                  <button
                    (click)="onClickToday()"
                    class="col__btn"
                    type="button"
                  >
                    Today
                  </button>
                  <button
                    (click)="onClickTomorrow()"
                    class="col__btn"
                    type="button"
                  >
                    Tomorrow
                  </button>
                </div>
                <div class="col container__col">
                  <button
                    (click)="onClickAnyDate()"
                    class="col__btn"
                    type="button"
                  >
                    Any Date
                  </button>
                  <input
                    [(ngModel)]="datePickerValue"
                    class="col__btn datepicker"
                    type="text"
                    placeholder="Choose Date"
                    bsDatepicker
                    placement="right"
                    [bsConfig]="{
                      dateInputFormat: 'DD/MM/YYYY'
                    }"
                    autocomplete="off"
                  />
                </div>
              </div>

              <div class="choose-program">
                <fa-icon class="program__icon" [icon]="faClock"></fa-icon>
                <h6 class="program__title">Choose Time</h6>
              </div>

              <timepicker
                class="container__timepicker"
                [showMeridian]="isMeridian"
                [(ngModel)]="chooseProgramTime"
              ></timepicker>

              <button
                (click)="onDoneProgram(); onFocusoutCalendar()"
                class="container__choose-program-done"
                type="button"
              >
                Done
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container__blur" id="section-title-blur">
        <p class="content">Hairdressers and hair salons</p>
      </div>
    </div>

    <button
      (click)="showMap(); msgToMain()"
      class="section__map-btn"
      id="section__map-btn"
    >
      <div class="map-btn__container">
        <fa-icon [icon]="faMap" class="container__icon"></fa-icon>
        <p class="container__text">Map</p>
      </div>
    </button>

    <button (click)="toogleMap(); msgToSib()" class="section__hidemap-btn">
      <div class="hidemap-btn__container">
        <fa-icon [icon]="mapBtnIcon" class="btn__map-icon"></fa-icon>
        <p class="hide-map__text">{{ mapBtnText }}</p>
      </div>
    </button>
  </ul>

  <p class="container-fluid__title">Popular Treatments</p>

  <ul class="nav nav-responsive">
    <li *ngFor="let item of items">
      <a class="mini-search-btn">
        <fa-icon [icon]="faMagnifyingGlass" class="search-glass-mini"></fa-icon>
        <span class="mini-search-btn__text">{{ item }}</span>
      </a>
    </li>
  </ul>
</div>
