@import "../../../../../colors.scss";
@import "../../../../../fonts.scss";

* {
  font-family: $poppins;
}

input:focus {
  border: none;
  box-shadow: none;
}

.container-fluid {
  background-color: $btnDashboard;
  padding: 2vh 8vw 2vh 8vw;
  box-sizing: content-box;
  width: calc(100% - 16vw);
  position: sticky;
  top: 0;
  z-index: 1;

  .section {
    justify-content: space-between;

    .section__container {
      display: flex;

      .search-btn {
        display: flex;
        align-items: center;
        border-radius: 0.25rem;
        background-color: #fff;
        box-shadow: $shadowDashboard;
        padding: 8px;
        text-decoration: none;

        .search-glass {
          display: grid;
          place-content: center;
          background-color: inherit;
          color: $biSearch;
          font-size: 20px;
          margin-right: 8px;
        }

        .search-btn__header {
          background-color: #fff;
          margin: 0;
          color: $biSearch;
          font-size: 14px;
          height: 20px;
          line-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 600;
        }

        .search-btn__footer {
          display: flex;
          background-color: #fff;

          .fa-circle {
            color: gray;
            font-size: 3px;
            display: grid;
            place-content: center;
            margin: 0 10px 0 10px;
          }

          .footer__text {
            margin: 0;
            color: $biSearch;
            font-size: 12px;
          }
        }
      }

      .what-where-when {
        display: grid;
        gap: 5px;
        width: 244.29px;

        .www__container {
          display: flex;
          align-items: center;
          border-radius: 0.25rem;
          background-color: #fff;
          box-shadow: $shadowDashboard;
          font-size: 14px;
          font-weight: 600;

          .fa-disabled {
            opacity: 0.6;
            cursor: not-allowed;
          }

          .container__search-glass {
            display: grid;
            place-content: center;
            background-color: inherit;
            color: $biSearch;
            font-size: 20px;
            margin: 0 5px 0 8px;
            cursor: pointer;
          }

          .container__input {
            border-radius: 0.25rem;
            padding: 8px 12px 8px 8px;
            width: 100%;
          }

          .container__faXmarkIcon {
            margin-right: 10px;
            cursor: pointer;
            color: $biSearch;
            font-size: 16px;
          }

          .choose-program-container {
            position: absolute;
            margin-top: 387.5px;
            width: 244.28px;
            display: flex;
            flex-direction: column;
            align-items: left;
            box-shadow: $boxShadowDashboard;
            background-color: #fff;
            font-weight: 600;
            color: $biSearch;
            gap: 5px;
            padding: 15px;
            border-radius: 0.25rem;

            border: 1.5px solid $btnLogin;
            box-shadow: 0 0 7px $btnLogin;
            outline-offset: 0px;
            outline: none;

            .choose-program {
              display: flex;
              align-items: center;

              .program__icon {
                font-size: x-large;
                margin-right: 7.25px;
              }
              .program__title {
                margin: 0;
              }

              .program__exit {
                position: absolute;
                right: 15px;
                cursor: pointer;
                font-size: 18px;
                color: $biSearch;
              }
            }

            .choose-date-row {
              margin: 10px 5px;

              .container__col {
                display: flex;
                flex-direction: row;
                gap: 15px;

                &.top {
                  margin-bottom: 15px;
                }

                .col__btn {
                  width: 100%;
                  padding: 4px;
                  color: $biSearch;
                  border-radius: 0.25rem;

                  border: 1px solid $btnLogin;
                  box-shadow: 0 0 3px $btnLogin;
                  outline-offset: 0px;
                  outline: none;
                }
              }
            }

            .container__timepicker {
              margin: 0 auto;
            }

            .container__choose-program-done {
              border-radius: 0.25rem;
              background-color: $btnDashboard;
              color: #fff;
              font-weight: 600;
              height: 40px;
              letter-spacing: 1px;
              font-size: 1rem;
            }
            .container__choose-program-done:hover {
              transition-duration: 0.25s, 20s;
              box-shadow: 5px 5px 5px #000;
            }
          }
        }
      }

      .container__blur {
        background-color: $blurDashboard;
        box-shadow: $boxShadowDashboard;
        max-height: 60px;
        margin: -30px 0 0 32px;
        padding: 0px 25px;
        border-radius: 7.25px;

        .content {
          height: 100%;
          display: grid;
          place-content: center;
          font-weight: bold;
          font-size: 1.7vw;
          letter-spacing: 0.5px;
          color: #fff;
          margin: 0;
        }
      }
    }

    .section__hidemap-btn {
      border-radius: 0.25rem;
      padding: 10px 16px;
      border: 2px solid #fff;
      background-color: inherit;
      text-decoration: none;
      max-height: 54px;

      .hidemap-btn__container {
        display: flex;

        .btn__map-icon {
          display: grid;
          place-content: center;
          color: #fff;
          font-size: 20px;
        }

        .hide-map__text {
          margin: 0;
          padding-left: 8px;
          background-color: inherit;
          color: #fff;
        }
      }
    }

    .section__map-btn {
      display: none;
      border-radius: 0.25rem;
      padding: 10px 16px;
      border: 2px solid #fff;
      background-color: inherit;
      text-decoration: none;
      max-height: 54px;

      .map-btn__container {
        display: flex;

        .container__icon {
          display: grid;
          place-content: center;
          color: #fff;
          font-size: 20px;
        }

        .container__text {
          margin: 0;
          padding-left: 8px;
          background-color: inherit;
          color: #fff;
        }
      }
    }
  }

  .container-fluid__title {
    margin: 0;
    background-color: inherit;
    padding: 16px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fff;
  }

  .mini-search-btn {
    display: flex;
    place-items: center;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: $shadowDashboard;
    padding: 6px 8px;
    margin: 10px 10px 0 0;
    text-decoration: none;

    .search-glass-mini {
      font-size: 17px;
      color: $biSearch;
      margin-right: 5px;
    }

    .mini-search-btn__text {
      background-color: #fff;
      margin: 0;
      color: $biSearch;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
    }
  }
}

// ! Responsive

@media screen and (max-width: 850px) {
  .container__blur {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .section__hidemap-btn {
    display: none;
  }
  .section__container {
    margin: 5px auto;
  }
  .container-fluid__title {
    text-align: center;
  }

  .nav-responsive {
    justify-content: center;
  }

  #section__map-btn {
    display: none !important;
  }

  .datepicker {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .section__hidemap-btn {
    display: none;
  }

  .section__map-btn {
    display: block !important;
  }
}

@media screen and (max-width: 320px) {
  .www__container {
    width: 70%;
    margin: 0 auto;
  }

  .choose-program-container {
    width: 170px !important;
    margin-top: 480px !important;
  }

  .program__exit {
    display: none;
  }

  .container__col {
    flex-direction: column !important;
  }
}
