<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-hair-salons
        [searchedHairsalonsByProgram]="hairsalonsByProgram"
        [isSearchedByLocationTouched]="isSearchedByLocationTouched"
        [searchedHairsalonsByLocation]="hairsalonsByLocation"
        [isSearchedByNameTouched]="isSearchedByNameTouched"
        [searchedHairsalons]="hairsalons"
        [isHideMap]="isHideMap"
      ></app-hair-salons>
    </div>

    <!-- <div *ngIf="showMap" class="col google-map-responsive">
      <div class="google-map">
        <app-google-map></app-google-map>
      </div>
    </div> -->

    <div *ngIf="!isHideMap" class="col google-map-container">
      <div class="google-map">
        <app-google-map></app-google-map>
      </div>
    </div>
  </div>
</div>
